.requestButton {
  background-color: #282c34;
  width: 200px;
  margin-top: 20px;
}

.cardSignUp {
  margin-top: 10vh;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 25vw;
  border-radius: 20px;
  transition: 2s;
}
.MuiTextField-root {
  width: 20vw;
}
